<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="ar3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="mass" value="1.2" /> 
  <xacro:property name="width" value="0.1" /> 
  <xacro:property name="height1" value=".1397" /> 
  <xacro:property name="height2" value="0.206" /> 
  <xacro:property name="height3" value="0.227" /> 
  <xacro:property name="height4" value="0.1" /> 

  <!-- Joint offsets -->
  <xacro:property name="joint1_x" value="0"/>
  <xacro:property name="joint1_y" value="0"/>
  <xacro:property name="joint1_z" value="0"/>
  
  <xacro:property name="joint2_x" value=".0508"/>
  <xacro:property name="joint2_y" value="-.06786547"/>
  <xacro:property name="joint2_z" value=".13907540"/>

  <xacro:property name="joint3_x" value="-.015"/>
  <xacro:property name="joint3_y" value="0"/>
  <xacro:property name="joint3_z" value=".305"/>

  <xacro:property name="joint4_x" value="-0.036"/>
  <xacro:property name="joint4_y" value="0"/>
  <xacro:property name="joint4_z" value="0.05"/>

  <xacro:property name="joint5_x" value="0"/>
  <xacro:property name="joint5_y" value="0"/>
  <xacro:property name="joint5_z" value="0.172"/>

  <xacro:property name="joint6_x" value="0"/>
  <xacro:property name="joint6_y" value="0"/>
  <xacro:property name="joint6_z" value="0.015"/>

  <xacro:property name="tcp_x" value="-0.003"/>
  <xacro:property name="tcp_y" value="0.020066"/>
  <xacro:property name="tcp_z" value="0.078"/>

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find ar3)/urdf/materials.xacro" />

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <xacro:include filename="$(find ar3)/urdf/AR3.xacro" />

  <!-- Robot to Environment-->
  <joint name="BaseJoint" type="fixed">
    <parent link="world"/>
    <child link="base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.7"/>
  </joint>

  <!-- Flange Frame -->
  <link name="flange"/>

  <!-- Flange joint -->
  <joint name="flange_joint" type="fixed">
    <parent link="link6"/>
    <child link="flange"/>
    <origin xyz="${tcp_x} ${tcp_y} ${tcp_z}" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.7"/>
  </joint>

<!-- END OF ROBOT -->
</robot>
